
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#color-button{
  background-color: lightgreen;
  border: lightgreen;
}
#color-button:hover{
  background-color: green;
  border: green;
}
#video-controls{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  background-color: #83a7e1;
  padding: 10px;
}

#submit-label-button{
  display: flex;
  margin-top:25px;
}


#video-page-container{
  width:80%;
  display:flex;
  padding:50px;
}

#video-player-widget{
 margin:50px;

 margin-top: -59px;

}

#select-div{
  margin-top: 35px;
  margin-left: -30px;

}

button {
  margin: 20px;
}
#banner-app-name{
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
  margin:auto;
}
#banner{

  background-color: #587eba;
  height:15%;
  font-size: 1.25em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.text-cell{
  padding: 10px;
  margin: 15px;
}

#user-pane-banner{
  display: flex;

}

#dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard-welcome{


}

a{
  text-decoration: none;
  font-size: 1.5em;
}
