
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tablinks{
  text-decoration: none;
}
/* Change background color of buttons on hover */
.tab Link:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab Link.active {
  background-color: #ccc;
}


#video-controls{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 50px;
}

#video-page-container{
  width:80%;
  display:flex;
  padding:50px;
}

#video-player-widget{
 margin:50px;
}

#select-div{
  margin-top:25%;
}

button {
  margin: 20px;
}


.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  /*whatever width you want*/
}
